# .gitignore file

# Backup files
*~
__pycache__/
*.py[cod]
*$py.class

# Lock files used by the Emacs editor.
.\#*

# Temporary files used by editors.
*.swp
*.orig
*.bak

# A hidden file created by the Mac OS X Finder.
.DS_Store

# python byte-code files
*.pyc
*.pyo

# Build/dist files
dist/*
build/*
pydicom-data.egg-info/*
distribute*.egg
distribute*.tar.gz
py3source
.tox/*

# Docs build
docs/_build/*
doc/_build/*
doc/auto_examples/*
doc/generated/*
doc/reference/generated/*

# coverage.py files
.coverage

# PyCharm IDE files
*.idea*


# jupyter notebooks
*.ipynb
.ipynb_checkpoints/*
tests/test_pixel.py

# mypy
pydicom-data/.mypy_cache/*

# vscode
.vscode/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache
